/* app.css */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #99744Aaa);
}

.card {
  padding: 2em;
  background-color: #DBC2A6;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(65, 74, 55, 0.2);
}

.read-the-docs {
  color: #414A37;
}
